.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  margin: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.links a, .links button {
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}

.links button:hover, .links a:hover {
  text-decoration: underline;
}
